
.container {
    max-width: 1042px;
    width: 100%;
    padding: 0 1rem 0 1rem;
    margin: 0 auto 0 auto;
    display: flex;
}

.wrapper {
    padding: 3rem;
    margin: 3rem auto 3rem auto;
    background: #fafafa;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.025);
    display: grid;
}

.content {
    width: 75%;
    float: left;
    padding-right: 2.5rem;
    flex: 0 0 auto;
    max-width: 100%;
}

.title {
    width: 80%;
    float: left;
}

.links {
    display: flex;
    font-size: 0.75rem;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0 10px 0 10px;
}

.link {
    margin-bottom: 0.5rem;

}

.name {
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin: 0;
    color: #54B689;
}


.intro {
    font-size: 0.875rem;
}

.tag {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
    color: inherit;
}

.side {
    flex: 0 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    max-width: 100%;
    display: flow-root;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.list {
    list-style: none;
    padding-left: 0;
}

.item-title {
    margin: 0;
}

.item-context {
    font-size: 0.75rem;
}

.item-body {
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.side-item-body {
    font-size: 0.875rem;
}

hr {
    border-color: rgba(0, 0, 0, 0.08);
}

a {
    color: inherit;
}

h3 {
    color: #54B689;
    font-size: 1.125rem;
    letter-spacing: 0.15rem;
}

h4 {
    font-size: 1rem;
    color: #292929;
}

li {
    margin-bottom: 0.5rem;
}


@media (prefers-color-scheme: dark) {
    .wrapper {
        background-color: rgb(27, 29, 30);
        border-color: rgba(140, 130, 115, 0.02);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
    }

    body {
        color: #fafafa;
    }

    h4 {
        color: #fafafa;
    }

    html {
        background-color: #131516;
        scrollbar-color: #454a4d #202324;
    }

}
